body {
    background-color: #9999ff;
}

h1 {
    text-align: center;
}
p{
    text-align: center;
}

h3 {
    text-align: center;
}

li {
    margin-left: 645px
}

img {
    padding: 1px;
    border: 1px solid #021a40;
    background-color: #ff0;
    
}

.nav {
    margin-left: 640px;
}

.picture {
    margin: auto;
    width: auto;
}